<%- include('./head.ejs') %>
<body>
    
  <section class="h-auto min-vh-100 pt-5 gradient-custom d-flex  flex-column align-items-center justify-content-evenly">
    
    <h1 class="text-center text-capitalize m-3">welcome to dashboard</h1>

    <div class="bg-light h-100 w-75 p-3 d-flex flex-column justify-content-evenly" id="create">
